<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>
    <listener class-name="api.Utilities.ExtentListenerClass"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <!--  <class name="api.testcases.UserTest"/>-->
     <class name="api.testcases.UserTestDataDriven"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
